<div class="container">

  <div class="chat-and-info-container">

    <div class="go-back-container">
      <button mat-raised-button (click)="goBackToGroup()"><mat-icon>arrow_back</mat-icon></button>
    </div>

    <div class="chat-container">
      <!-- Form to send messages -->
      <div class="form-container">
        <form [formGroup]="messageForm" (submit)="sendMessage()" class="input-group">
          <div class="input-wrapper">
            <input type="text" formControlName="message" placeholder="Your message..." />
            <mat-icon class="send-icon" (click)="sendMessage()" [ngClass]="{ 'disabled': disabled }"
              [matTooltip]="'Send Message'">send</mat-icon>
          </div>
        </form>
      </div>

      <div class="title-container">
        <div *ngIf="group" class="title">
          <div class="title-info">
            <div class="group-name">{{ group.groupName }}</div>
            <div class="message-count">{{ numberOfMessages }} messages</div>
          </div>

          <div class="search-container">
            <!-- Search icon to toggle visibility -->
            <span class="search-icon" (click)="toggleSearchInput()">
              <mat-icon style="margin-right:10px;">search</mat-icon>
            </span>

            <!-- Form for filtering messages -->
            <form [formGroup]="messageForm" class="search-form" [class.visible]="showSearchInput">
              <div class="search-wrapper">
                <input type="text" formControlName="filterKeyword" placeholder="Filter messages"
                  (input)="applyLiveFilter()">
                <!-- Close icon to hide the form -->
                <span class="close-icon" (click)="toggleSearchInput()">
                  <mat-icon>close</mat-icon>
                </span>
              </div>
            </form>

          </div>
        </div>
      </div>

      <!-- Loop through message groups -->
      <div class="scroll" #scrollContainer style="overflow-y: scroll; max-height: 80%;">
        <ng-container *ngFor="let group of messageGroups">
          <div class="message-group" style="margin-bottom: 70px;">
            <div class="header">
              <div class="message-date">{{ group.date }}</div>
            </div>
            <!-- Loop through messages in the group -->
            <div *ngFor="let message of group.messages" class="message-container"
              [ngClass]="{'self': message.sender === username, 'other': message.sender !== username}">
              <!-- Display profile picture -->
              <div class="profile-image-container">
                <img *ngIf="imageURLs[message.senderImgId]" [src]="imageURLs[message.senderImgId]" alt="Profile Picture"
                  class="profile-image" style="margin-right: 10px;object-fit: cover;" />
              </div>

              <!-- Message content container -->
              <div class="message-content-container">
                <!-- Display sender name -->
                <div class="message"
                  [ngClass]="{'self-message': message.sender === username,  'other-message': message.sender !== username }">
                  <span class="message-sender"> {{ message.sender | hideSelfName: username}}</span>
                  <!-- Display message content -->
                  <div class="message-content" style="margin-top: 5px;">{{ message.content }}</div>
                  <!-- Display message timestamp -->
                  <div class="message-timestamp">{{ message.timestamp | date: 'shortTime' }}</div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Group Info and Users Container -->
    <div class="info-and-users-container">
      <!-- Group Info Container -->
      <div class="group-info-container" *ngIf="group">
        <span class="group-info">Group Info</span>
        <div class="group-image-container" *ngIf="group.pictureId && imageURLs[group.pictureId]">
          <img [src]="imageURLs[group.pictureId]" alt="Group Image" class="group-image"
            style="width: 120px;height: 120px;border-radius: 50%;object-fit: cover;">
        </div>

        <div class="creation">Created on {{group.timestamp | date: 'd MMM yyyy' }}</div>

        <!-- Button to trigger edit group modal -->
        <button class="btn1 btn-dark" (click)="openEditGroupModal()">Edit Group</button>
        <!--button to leave group -->
        <button class="btn1 btn-dark" (click)="leaveGroup()">Leave Group</button>
      </div>

      <!-- Users Container -->
      <div class="users-container">
        <div class="member-container" *ngIf="group">
          <div class="members">{{group.userCount}} members</div>
        </div>
        <!-- Display List of Users -->
        <div class="user">
          <div class="user-info" *ngFor="let user of users">
            <img *ngIf="imageURLs[user.pictureId]" [src]="imageURLs[user.pictureId]" alt="Profile Picture"
              class="profile-image" style="margin-right: 10px; object-fit: cover;" />
            <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
            <span *ngIf="user.email === creatorEmail" class="admin-badge"
              style="margin-left: 10px; color: grey;">admin</span>

            <button *ngIf="shouldDisplayToggle(user.email)" mat-button color="primary"
              (click)="toggleUserProfile(user.email)">
              {{ profileVisibility[user.email] ? 'bye' : 'hello' }}
            </button>

            <div *ngIf="profileVisibility[user.email]" class="user-profile-card">
              <img *ngIf="imageURLs[user.pictureId]" [src]="imageURLs[user.pictureId]" alt="Profile Picture"
                class="user-image">
              <div class="name-container">
                <span class="name">{{user.firstName }} {{ user.lastName }}</span>
                <span class="username">{{ user.userName | prependAt }}</span>
              </div>

              <div class="about-info">
                <p class="about">About</p>

                <p class="idd1">
                  <mat-icon> location_on</mat-icon> {{user.country}}
                </p>

                <p class="idd1">
                  <strong>Email:</strong> {{ user.email }}
                </p>
                <p class="idd1">
                  <strong>Birth Date:</strong> {{ user.birthDate | date:'d MMMM yyyy' }}
                </p>
                <p class="idd1">
                  <strong>Contact:</strong> {{ user.phoneNo }}
                </p>

                <p class="idd1">
                  <strong>Joined:</strong> {{user.joinedDate | date:'d MMMM yyyy' }}
                </p>

                <div class="buttons">
                  <button class="btn1" (click)="MessageUser(user.email)">Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Group Modal -->
    <div *ngIf="showEditModal" class="edit-group-modal">
      <div class="header-edit" style="margin-bottom:10px;">Edit Group Info</div>
      <form [formGroup]="groupForm" (submit)="onSubmit()">
        <div>
          Group Name: <input type="text" id="groupName" formControlName="groupName">
        </div>
        <div>
          Group Image: <input type="file" #image formControlName="image">
        </div>

        <div class="buttons">
          <button type="button" class="btn-cancel" (click)="toggleEditing()">Cancel</button>
          <button type="submit" class="btn-save">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>