@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,500,700,600');

.con-img {
    height: 100%;
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}