.img {
    height: 80px;
    width: auto;
    margin-top: 5%;
}

.mat-toolbar{
    background-color: white;
    min-height: 80px;
}

.header {
    flex: 1 1 auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto; 
}

mat-card-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

mat-form-field {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

span {
    font-size: 12px;
    text-align: center;
    color: grey;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.text-danger {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
