<div class="container">
    <p class="header">Discover Groups</p>

    <!-- Button to toggle the create group form -->
    <button mat-raised-button (click)="toggleCreateForm()">Create New Group</button>

    <!-- Create Group Form -->
    <div *ngIf="showCreateForm" class="create-group-card">
        <h2>Create Group</h2>
        <form [formGroup]="createform" (submit)="createAndJoinGroup()">
            <div>
                <label for="groupName">Group Name</label>
                <input type="text" id="groupName" formControlName="groupName" required>
            </div>
            <button mat-raised-button type="submit">Create Group</button>
        </form>
    </div>
    
    <div class="card-list">
        <div *ngIf="groups$ | async as groups; else NoGroups">
            <div *ngFor="let group of groups">
                <p class="group-name">{{ group.groupName }}</p>
                <div class="info-container">
                    <div>
                        <mat-icon class="icon">person</mat-icon>
                        <span>{{group.userCount}}</span>
                    </div>
                    <div>
                        <mat-icon class="icon">date_range</mat-icon>
                        <span>created: {{ group.timestamp | date: 'dd MMM yyyy' }}</span>
                    </div>
                </div>
                <button mat-raised-button (click)="joinGroup(group.groupId)">Join Group</button>
            </div>
        </div>
    </div>
    
    <ng-template #NoGroups>
        <p>No groups created yet</p>
    </ng-template>

</div>

