.group-container {
    display: grid;
}

.container {
    display: flex;
    justify-content: center;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input-container {
    width: 100%;
    max-width: 300px;
}

.searchinput {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.container-fluid {
    margin: 20px;
}

.header-discover {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
}

.group-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.group-name {
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 13px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 100%;
}

.group-details {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-img {
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 100%;
}

.btn {
    background-color: #94b8b8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    color: white;
}

.event-container {
    position: relative;
}

.date-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px
}

.date-container .month,
.date-container .day {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #20247b;
}

.eve-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.name,
.place {
    font-family: "Poppins", sans-serif;
    color: white;
}

.name {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.place {
    font-size: 10px;
    color: white;
}

.venue-info {
    display: flex;
    align-items: center;
}

.loc-icon {
    font-size: 15px;
    color: white;
}

.user-icon {
    font-size: 12px;
}

.no-groups {
    font-family: "Poppins", sans-serif;
    color: rgb(199, 107, 107);
    font-size: 13px;
}

.select {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}