<!--LOGIN FORM-->
<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginform" (submit)="process()">

        <span>EMAIL</span>
        <mat-form-field appearance="outline">
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="loginform.get('email')?.errors">
            <span *ngIf="loginform.get('email')?.errors?.['required']">Email is required</span>
            <span *ngIf="loginform.get('email')?.errors?.['invalid']">Invalid email format</span>
          </mat-error>
          
        </mat-form-field>

        <span>PASSWORD</span>
        <mat-form-field appearance="outline">
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginform.get('password')?.errors?.['required']">Password is required</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="loginform.invalid">Login</button>

      </form>
    </mat-card-content>
  </mat-card>

  <div class="signup-link">
    <p>Or <a [routerLink]="['/register']">Sign Up Now</a></p>
  </div>
</div>