@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Search form */
.search-form {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Adjust margin to center vertically */
}

/* Adjust size of the input field */
mat-form-field {
    margin: 0 10px; /* Adjust margin for horizontal spacing */
    width: 330px; /* Set the width of the search container */
    font-size: 12px;
}

.events-results-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.events-container, .results-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

select {
    padding: 8px;
    font-size: 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px; /* Set bottom margin for spacing between cards */
    border: 1px solid #ccc;
    flex-basis: calc(33.33% - 20px); /* Set the width for each card with margin */
    box-sizing: border-box; /* Ensure margin is included in the width calculation */
}

.card:hover .event-image {
    opacity: 0.5;
}

.card:hover {
    cursor: pointer;
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items along the main axis with space between */
}

mat-card {
    display: block;
    border-radius: 0;
    max-width: 100%; /* Ensure card content does not overflow */
}


mat-card-title {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-style: bold;
    margin-top: 10px;
}

mat-card-subtitle {
    font-family: "Lato", sans-serif;
    font-size: 11px;
}

.buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.event-image {
    width: 100%; /* Make the image fill its container */
    height: 200px; /* Allow the height to adjust proportionally based on the width */
    transition: opacity 0.3s ease; /* Smooth transition effect */
    opacity: 1; /* Initially fully opaque */
    object-fit: cover;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items along the main axis with space between */
}

.button-container {
    margin-right: 10px; /* Optional: Add margin to separate button from select */
}

.select-container {
    margin-left: auto; /* Push select to the right side by pushing it to the end of available space */
}
