@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /* Set a maximum width for the card container */
    margin: 0 auto;
}

.card {
    width: calc(33.33% - 20px); /* Set the width of each card */
    margin-bottom: 20px; /* Add margin between cards */
    margin-right: 5%;
    border: 1px solid #ccc;
    max-width: 300px; /* Set a maximum width for the cards */
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /* Center cards horizontally */
}


.mat-card-image img {
    height: 150px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the entire space */
}

mat-card {
    font-family: "Lato", sans-serif;
}

mat-card-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

mat-card-subtitle {
    font-size: 10px;
}

.buttons {
    position: fixed;
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

/* Search form */
.search-form {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Adjust margin to center vertically */
}

/* Adjust size of the input field */
mat-form-field {
    margin: 0 10px; /* Adjust margin for horizontal spacing */
    width: 330px; /* Set the width of the search container */
    font-size: 12px;
}

.results-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 10px; /* Add padding to provide space around the text */
    background-color: pink;
}

.text {
    font-family: "Lato", sans-serif; 
    font-size: 12px; 
    color: #333;
}

@media (max-width: 992px) {
    .card {
        flex: 0 0 calc(50% - 20px); /* Two cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(100% - 20px); /* One card per row on even smaller screens */
    }
}