.eve-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.event-container {
    margin-bottom: 20px;
    text-align: center;
    width: 70%;
    border: 1.5px solid #ccc;
}
.item-right {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.sce {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
span, .venue-add-text  {
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.learn-more, .google {
    cursor: pointer;
    font-size: 12px;
}
.learn-more:hover {
    background-color: #555;
}
.map-container iframe {
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.location-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.header,
.group-name, .new-group {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.group-img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    border-radius: 30px 10px 30px 10px;
}
.group-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.icon {
    vertical-align: middle;
    color: #888;
    font-size: 18px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
}
.btn-create,
.btn-cancel {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}
.modal-body form, .btn, .user-count  {
    font-family: "Poppins", sans-serif;
}

.modal-body form {
    font-size: 12px;
}
.venue-name-text {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 13px;
}
.user-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-left: -15px;
}
.user-wrapper:first-child {
    margin-left: 0;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.btn {
    background-color: #94b8b8;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border-radius: 20px;
}
.user-count {
    font-weight: 700;
    background-color: #d1e0e0;
    color: #476b6b;
    font-size: 7px;
    border-radius: 20px;
    width: 60px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
    line-height: 20px;
}