@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eve-container {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    flex-direction: column;
    /* Arrange items vertically */
    margin-top: 20px;
}

.event-container {
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center horizontally */
    width: 70%;
}


.event-details {
    width: 100%;
    display: flex;
    border: 1.5px solid #ccc;
}

.item-left {
    flex: 1;
}

.event-image-container {
    max-width: 360px;
}

.event-image {
    width: 100%;
    /* Set the width to 100% of the container */
    height: 200px;
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.item-right {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Space items evenly */
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 20px;
}

.sce {
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    margin-top: 30px;
}

.sce .icon {
    margin-right: 10px;
}

.icon mat-icon {
    font-size: 24px;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.learn-more {
    cursor: pointer;
    font-size: 12px;
}

.learn-more:hover {
    background-color: #555;
}

.map-container iframe {
    width: 350px;
    /* Set width of the iframe */
    height: 250px;
    /* Set height of the iframe */
    border: 1px solid #ccc;
    /* Add a border around the iframe */
    margin-bottom: 10px;
    /* Add margin below the map */
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.location-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.location-details .loc-icon {
    margin-right: 10px;
    /* Adjust margin as needed */
}

.loc {
    font-size: 20px;
}

.location-details p {
    margin: 0;
}

/*chat group*/
.header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
}

.group-name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.group-details {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.group-image-con {
    width: 200px;
}

.group-img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    border-radius: 30px 10px 30px 10px;
}

.create-button {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.create-group-card {
    width: 50%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

.create-group-card h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 20px;
    margin-top: 0;
}

.create-group-card form {
    display: flex;
    flex-direction: column;
}

.create-group-card form div {
    margin-bottom: 5px;
}

.create-group-card form label {
    margin-bottom: 5px;
}

.group-card {
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

span {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #888;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.icon {
    margin-top: 5px;
    margin-right: 2px;
    vertical-align: middle;
    color: #888;
    font-size: 18px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
}

.modal-header {
    justify-content: center;
}

.new-group {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    text-align: center;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Add margin to separate from other elements */
    margin-right: 5px;
}

/*edit*/
.btn-create {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #80aaff;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}

.btn-cancel {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: #ff9999;
    color: white;
    font-size: 12px;
    margin-right: 10px;
}

.modal-body form {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.modal-group {
    text-align: center;
}

.location-text {
    padding: 10px;
}

.venue-name-text {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 13px;
}


.venue-add-text {
    font-family: "Lato", sans-serif;
    color: grey;
}

.sliced-users {
    display: flex;
    align-items: center;
}

.user-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-left: -15px;
}

.user-wrapper:first-child {
    margin-left: 0;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.full-circle {
    border-radius: 50%;
}

.btn {
    background-color: #94b8b8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    color: white;
    border-radius: 20px;
}

.user-count {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color:#d1e0e0;
    color: #476b6b;
    font-size: 6px;
    border-radius: 20px;
    width: 60px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
    line-height: 20px;
}