<div class="results-container">
    <div class="text">Search results for: {{ keyword }}</div>
</div>

<div class="card-container" *ngIf="searchResults$ | async as searchResults">
    <div *ngIf="searchResults.length > 0;" class="card-wrapper">
        <mat-card *ngFor="let event of searchResults" class="card">
            <img mat-card-image [src]="event.imageUrl">  
            <mat-card-title>{{ event.name }}</mat-card-title>
            <mat-card-subtitle>{{event.localDate | date: 'EEE, d MMM y' }} ({{ formatTime(event.localTime) }})</mat-card-subtitle>
        </mat-card>
    </div>

    <div *ngIf="searchResults.length <= 0" class="results-container">
        <div class="text">No Events currently</div>
    </div>

</div>

<div class="buttons">
    <button mat-button (click)="loadPreviousPage()" [disabled]="!hasPreviousPage">Previous</button>
    <button mat-button (click)="loadNextPage()" [disabled]="!hasNextPage">Next</button>
</div>